@model IEnumerable<TestData>
@{
    ViewData["Title"] = "Pivotal EF .Net Core MySQL Sample";
}
<h2>Test data from MySql:</h2>
<ul>
    @foreach (var td in Model)
    {
        <li>@td.Id: @td.Data</li>
    }
</ul>